.wf-info{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.wf-img{
    width: 301px;
}
.text-wf{
    color: #000;
    
        /* Body text/Text 20 */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
        width: 527px;
        
}
.text-wf:not(:last-child){
padding-bottom: 32px;
}
.box-wf{
    display: flex;
    flex-direction:row;
    padding-top: 32px;
    padding-bottom:112px;
}
.img-wf-line{
    height: 1262px;
    width: 81px;
}
.wf-card{
    padding-left: 40px;
    padding-bottom: 120px;
}
.wf-card-title{
    color: #000;
    
        /* title */
        font-family: Oxanium;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0px;
       padding-bottom: 32px;
}
.wf-card-description{
    color: #555353;
    
        /* Body text/Text 20 */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
        width: 472px;
        margin: 0px;
}
.wf-cards{
    padding-top: 32px;
}