:root {
  --primary-color: #030303;
  --accent-color: #b0f11e;
  --secondary-color: #747474;
  --prmary-color-second: #fffbfb;
  --title-fonts:"Oxanium", sans-serif;
  --text-fonts:"Montserrat", sans-serif;
  --background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --button-color:#BCEC51;
  --accent-color-grey-100:#A5E711;
  --primary-color-black:#030303;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
link {
  text-decoration: none;
}

.backround-page {
  background-image:linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
  

}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  padding-top: 8px;
  margin: 0px;
}
.header-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation{
  display: flex;
  flex-direction: row;
}
.nav-section{
  display: flex;
  flex-direction: row;
}

.nav-text{
  font-family:var(--title-fonts);
  font-size: 15px;
  color: var(--primary-color);
  text-decoration: none;

}
.nav-text:not(:last-child){
  padding-right:68px;
}

.nav-text:hover{
  color:var(--accent-color);
  cursor: pointer;
}
.header_title{
  font-family: var(--title-fonts);
  font-size: 18px;
  color: var(--accent-color);
}
.button{
  border: none;
  border-radius:4px;
  font-weight: 700;
  color: var(--prmary-color-second);
  background-color: var(--button-color);
  font-family: var(--text-fonts);
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 68px;
  height: 40px;
  cursor: pointer;
}

.info-section{
  background-image:url(/Img/background.png);
  width: auto;
  height: 496px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.label{
  width: 97px;
  margin-left: 285px;
}
.text-section{
  color: var(--primary-color);
  font-family: var(--title-fonts);
  font-weight: 400;
  font-size: 30px;
  margin: 0px;
}
.info-title{
  display: flex;
  flex-direction: column;
  padding-top:88px;

}
.info-text-one{
  color: #747474;
  font-family: var(--text-fonts);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 680px;
  margin: 0px;

}
.info-text-two{
color:#747474;
font-family: var(--text-fonts);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
padding-bottom: 40px;
max-width: 680px;
margin: 0px;
}
.documents{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}
.icons-attantion{
  height: 36px;
  width: 36px;
}
.documents-text{
  font-family: var(--title-fonts);
  color: var(--accent-color-grey-100, #A5E711);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-left: 16px;
}
.container-elements{
      background-image:url(/Img/black_line.jpg) ;
      width: auto;
      height: 75px;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

}
.black-element{
  padding-top: 80px;
}


.section-work{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-radius: 20px;
  background: #d6f790;
  padding: 64px;
  margin-top: 112px;
}
.box-work{
    border-radius: 20px;
    background:#e5ffaa;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    
}
.box-work:hover{
background:#ffffff;
}
.card-one{
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}
.buton-arrow{
  width: 102px;
  height: 53px;
  cursor: pointer;
}

.title-work{
  color: var(--primary-color-black, #030303);
    font-family: var(--title-fonts);
    width: 180px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    padding-top: 24px;
}

.text-work{
  width: 274px;
  color: #776F6F;
  font-family:var(--text-fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
  padding-top: 16px;
}
.title-step{
  color: var(--primary-color-black);
    font-family: var(--title-fonts);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 72px;
}
.button-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.button-step-active{
  border-radius: 10px;
  background: #121212;
  width: 360px;
    height: 80px;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:#DBFF8C;
    font-family:var(--title-fonts);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      border: none;
      cursor: pointer;

}
.button-step-default{
  border-radius: 10px;
  background-color: none;
      border: 1px solid #000;
    width: 360px;
    height: 80px;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--primary-color);
    font-family: var(--title-fonts);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}
.subtitle-step{
    color: var(--primary-color);
    font-family: var(--title-fonts);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 64px;
    padding-bottom: 48px;
}
.box-step{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  padding-top: 32px;
}
.card-step{
  display: flex;
  flex-direction:column;
  padding-right: 100px;
}
.title-card{
    color:var(--primary-color);
    font-family:var(--title-fonts);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    padding-bottom: 32px;
}
.text-step{
  color:var(--secondary-color);
    font-family: var(--text-fonts);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 300px;
    margin: 0px;

}
.section-step{
  margin-top: 112px;
}
.background-faqs{
  background-color:#F9FFED;
  margin-top: 112px;
}
.section-faqs{
  display: flex;
  padding-bottom: 112px;
}

.title-faqs{
  color: var(--primary-color);
  
    font-family: var(--title-fonts);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 222px;
    margin: 0px;
    padding-top: 112px;
}
.faqs-plus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  height: 40px;
  cursor: pointer;
}

.text-content{
  display: none;
  font-family: var(--text-fonts);
  font-size: 18px;
  width: 600px;
}

.text-content.show{
display: block;
}
.faqs-line{
  
  height: 2px;
  padding-top: 100px;
  padding-bottom: 48px;
  margin: 0px;
}
.line{
width: 800px;
}
.text-faqs{
    color: var(--primary-color-black);
    font-family: var(--title-fonts);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    padding-bottom: 24px;
}
.plus{
  width: 32px;
  height: 32px;
}

.line-footer{
  padding:0px;
  margin: 0px;
  margin-bottom: 16px;
}
.footer{
  border-radius: 30px;
  background: #CCFB62;
  padding-top: 88px;
  padding-bottom: 88px;
  margin: 0px;
  padding-left: 138px;
  padding-right: 138px;
}
.footer-logo{
  color:var(--primary-color);
  font-family: var(--title-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact{
  color: var(--primary-color-black);
    font-family:var(--text-fonts);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contact-link{
  text-decoration: none;
  color: var(--primary-color-black);
    font-family: var(--text-fonts);
    margin: 0px;
    padding: 0px;
}
.box-contact{
  padding: 0px;
}